.container {
  flex: 1;
  margin-right: 5%;
  margin-bottom: 10%;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.content {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.totalBox {
  margin-bottom: 27px;
}

.overviewContainer {
  flex-direction: row;
  height: 100%;
}

.tableContainer {
  flex: 1;
  min-width: 300px;
}
.tableContainerWithPieChart {
  flex: 0.5;
}

.pieChartContainer {
  flex: 0.5;
  margin-left: 20px;
}
