.container {
  background-color: var(--LIGHT_BLUE);
  border-radius: 10px;
  margin-top: 20px;
  height: 53px;
  justify-content: center;
  width: 100%;
}

.title {
  margin-left: 20px;
  text-transform: uppercase;
}
