.container {
  background-color: var(--LIGHT_BLUE);
  border-radius: 10px;
  padding: 18px 24px 34px 24px;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 250px;
}

.divider {
  margin-top: 5px;
}

.table {
  min-width: 550px;
  margin: 14px 0 14px 20px;
}
